.MuiInputBase-formControl{
    // border: 1px solid #D4D0DD;
    // height: 38px;
}
.MuiButton-containedPrimary{
    background-color: $base-color !important;
    @include radius(5px !important);
    text-transform: capitalize !important;
    font-family: $baseFont-700 !important;
}
.MuiCheckbox-colorPrimary.Mui-checked{
    color: $base-color !important;
}
.widget-tabs{
    .MuiFormLabel-root{
        font-size: 12px;
        font-weight: normal;
        font-family: $baseFont-700;
        &.Mui-focused{
            color: $base-color;
        }
    }
    .MuiInput-underline{
        &:after{
            border-bottom-color: $base-color;
        }
    }
    .MuiInputBase-root{
        font-size: 12px;
    }
    .MuiFormControlLabel-label{
        color: #000;
    }
    .MuiFab-primary{
        background-color: $base-color;
    }
}