.positions-main{
    .positions-form{
        padding: 10px;
        .MuiTypography-root{
            font-family: $baseFont-500;
            color: #000;
            font-size: 12px;
        }
    }

}